.quote {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #333333;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #333333;
}
.quote span.text {
    display: block;
    margin-bottom: 5px;
    font-size: large;
    font-style: italic;
}
.quote small.author {
    font-weight: bold;
    color: #3677E8;
}
.quote .tags {
    margin-top: 10px;
}
.tag {
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    font-size: small;
    background-color: #7CA3E6;
}
.pager {
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.pager {
    padding-left: 0;
    margin: 22px 0;
    list-style: none;
    text-align: center;
}
.pager li {
    display: inline;
}
.pager .next>a, .pager .next>span {
    float: right;
}
.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 15px;
}

.disabled {
    color: #333333;
    cursor: not-allowed;
}

.tag-item {
    display: block;
    margin: 4px;
}

.tags-box {
    text-align: right;
}


.my-style-form p {
  display: flex;
  flex-direction: column;
}

.my-style-form p input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.Forgot-Password {
  padding-top: 20px;
}